# -*- mode: gitignore; -*-

# Backup and temporary files
*~
*#
*.elc

# Emacs desktop and session files
.desktop/
.desktop
/.emacs.desktop
/.emacs.desktop.lock
desktop/
session*
savehist
saveplace
places

# Cache and auto-save files
.cache/
eln-cache/
auto-save-list/
tramp/
var/
var/pcache
flycheck_*.el
.lsp-session*
transient/
undo-fu-session/
tree-sitter/
tramp

# Package management directories
elpa/
.cask/
.dist/

# Org-mode files
.org-id-locations
*_archive

# Flymake files
*_flymake.*

# Eshell files
/eshell/history
/eshell/lastdir
eshell/

# RefTeX files
*.rel

# AUCTeX auto folder
/auto/

# Server and authentication files
/server/
/network-security.data

# Projectile files
.projectile
projectile-bookmarks.eld

# Ellama sessions
ellama-sessions/

# Miscellaneous files and directories
bookmarks
projects
.elfeed/
elfeed/
url/
myscratch/
etc/
speed-type/
.mbsyncpass.gpg
.mbsyncrc
.dir-locals.el
tutorial/
history
save/
recentf
savefile/
games/
