# -*- mode: gitignore; -*-

*~
*#
*.elc
desktop/
.desktop/
/.emacs.desktop
/.emacs.desktop.lock
auto-save-list
.cache/
eln-cache/
recentf
savefile/
tramp/
tramp
var/
games/

elpa/
.cask/
.dist/

.org-id-locations
*_archive
*_flymake.*
/eshell/history
/eshell/lastdir
*.rel
/auto/
flycheck_*.el
/server/
.projectile
/network-security.data
.dir-locals.el
.lsp-session*
session*
savehist
saveplace
places
transient/
tutorial/
history
eshell/
save/
var/pcache

# Config and session files
.cask
.lsp-session*
session*
savehist
saveplace

# Data directories
places
transient/
tutorial/
history
undo-fu-session/
tree-sitter/

# Other files and directories
eshell/
save/
var/pcache

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile
projectile-bookmarks.eld

# network security
/network-security.data

# Emacs desktop files
/.emacs.desktop
/.emacs.desktop.lock

# Compiled Emacs Lisp files
*.elc

# Ellama
ellama-sessions/

playground.el
bookmarks
projects
common-english-words.txt

